[package]
name = "frida-gum-sys"
version = "0.4.0"
authors = ["Keegan Saunders <keegan@undefinedbehaviour.org>"]
edition = "2018"
license = "wxWindows"
repository = "https://github.com/meme/frida-rust"
description = "Rust generated bindings for Frida Gum"

[features]
auto-download = ["frida-build"]
event-sink = ["cc"]
invocation-listener = ["cc"]

[build-dependencies]
bindgen = "0.57.0"
cc = { version = "1.0", optional = true }
frida-build = { path = "../frida-build", version = "0.2.0", optional = true }

[badges]
maintenance = { status = "experimental" }
