[package]
name = "frida-gum"
version = "0.3.4"
authors = ["meme <keegan@sdf.org>"]
edition = "2018"
license = "wxWindows"
repository = "https://github.com/meme/frida-rust"
description = "Rust bindings for Frida Gum"

[features]
auto-download = ["frida-gum-sys/auto-download"]
event-sink = ["frida-gum-sys/event-sink"]
invocation-listener = ["frida-gum-sys/invocation-listener"]

[dependencies]
frida-gum-sys = { path = "../frida-gum-sys", version = "0.2.4" }
num = "0.3.1"
num-derive = "0.3.3"
num-traits = "0.2.14"
paste = "1"
libc = "0.2.93"

[dev-dependencies]
lazy_static = "1"

[badges]
maintenance = { status = "experimental" }

[package.metadata.docs.rs]
features = ["event-sink", "invocation-listener"]
rustdoc-args = ["--cfg", "doc_cfg"]
